@tailwind base;
@tailwind components;
@tailwind utilities;

.is-empty{

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: orange;
  opacity: 1; /* Firefox */
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #b5bd !important;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-empty::before {
  color: pink !important;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
